* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard", sans-serif;
}

body {
    background: #f1f1f1;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.panel {
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #fff;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.2) 30%,
        rgba(0,0,0,0.5) 60%,
        rgba(0,0,0,0.7) 100%
    );
}

.exit-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;        /* 흰색 텍스트 */
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
